.heading_main{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
   
    h2{
        font-family: $roboto;
        font-size: 40px;
        font-weight: 500px;
        position: relative !important;
        display: inline-block;
        &::after{
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            height: 1px;
            width: 172px;
            background-color: $red;
          
           
        }
        &::before{
            position: absolute;
            content: "";
            bottom: -12px;
            left:0;
            height: 1px;
            width: 70px;
            background-color: $red;
           
        }
     
    }
}