#feature{

    .feature_butttons{
        ul{
            text-align: center;
            li{
                display: inline-block;
                padding: 0 30px;
                border-right: 1px solid $black_text;
                font-family: $roboto;
                    font-size: 16px;
                    font-weight: 400px;
                    color: $black_text;
               &:hover{
                   color: $red;
               }
              
            }
        }
    }
}
.feature_main{
    margin-top: 50px;
   .feature_img{
       position: relative;
       &:hover .feature_overly{
      transition: all linear .5s;
      opacity: 1;
      -webkit-transition: all linear .5s;
      -moz-transition: all linear .5s;
      -ms-transition: all linear .5s;
      -o-transition: all linear .5s;
}
   img{
       width: 100%;
   }
   .feature_overly{
       position: absolute;
       content: "";
       top: 0;
       right: 0;
       height: 100%;
       width: 35%;
       background-color: rgba(0,0,0,0.7);
       opacity: 0;
     
    
       .feature_overly_item{
           position: absolute;
           top: 50%;
           right: 20%;
           transform: translateY(-50%);
           -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
           -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
           ul{
               li{
                text-align: center;
                height: 60px;
                width: 60px;
                border: 1px solid $white_text;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                line-height: 60px;
               margin: 20px 0;
      &:hover{
          background-color: $red;
          border-color:transparent ;
      }
                a{
                    color: $white_text;
                    font-size: 35px;
                            
                   }
               }
           }
}

   }
   }
   .feature_text{
      
     .feature_text_1{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
         h3{
            font-family: $roboto;
            font-size: 16px;
            font-weight: 400px;
            color: $black_text;    
         }
         h4{
            font-family: $open-sons;
            font-size: 16px;
            font-weight: 300px;
            color: $black_text;    
         }
     }

     .feature_text_2{
         ul{
             margin-left: -30px;
             
             li{
                 display: inline-block;
                 color: $red;
             }
         }
     }
   }
    
}

#feature .feature_butttons ul li:last-child{
      
    border-right:none; 
}