#shop{
    margin-top: 100px;
    .shop_item{
        .shop_img{
            position: relative;
            img{
             width: 100%;
            }
            .shop_overly{
                position: absolute;
                bottom: 5%;
                left: 5%;
                height: 160px;
                width: 90%;
                background-color: rgba(0,0,0,0.8); 
                text-align: center;
                h2{
                    font-family: $roboto;
                    font-size: 36px;
                    font-weight: 400px;
                    text-transform: uppercase;
                    color: $white_text;
                    padding-top: 5px;
                }
                h3{
                    font-family: $open-sons;
                    font-size: 24px;
                    font-weight: 400px;
                   color: $white_text;
                  
                }
                .shop_button{
                   height: 54px;
                   width: 110px;
                   background-color: transparent;
                   border:1px solid $white_text;
                   border-radius: 3px;
                   -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                   -ms-border-radius: 3px;
                   -o-border-radius: 3px;
                   margin-top: 10px;
                   line-height: 54px;
                   font-family: $open-sons;
                   font-size: 20px;
                   font-weight: 400px;
                   position: absolute;
                   bottom: 10px;
                   left: 50%;
                   transform: translateX(-50%);
                   -webkit-transform: translateX(-50%);
                   -moz-transform: translateX(-50%);
                   -ms-transform: translateX(-50%);
                   -o-transform: translateX(-50%);
             a{
                color: $white_text;
               }
               &:hover{
                   background-color: $red;
                   border-color:transparent;
                }
}
           
            }
        }
    }
}