$header-bg:#666565;
$service-and-laptop-bg:#f1f1f1;
$mainfooter-bg:#353535;
$white_text:#ffff;
$white_night:#dddddd;
$red:#de4644;
$black_text:#444444;
$open-sons: 'Open Sans', sans-serif;
$maven:'Maven Pro', sans-serif;
$roboto: 'Roboto', sans-serif;
$border:#dddddd;